/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .image-2 {
    top: -10px;
    right: 10px;
    width: 75px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .banner-1 {
    padding: 30px 0 20px;
  }
  .mb-5 {
    margin-bottom: 0 !important;
  }
  h1 {
    font-size: 25px !important;
    line-height: 30px !important;
    margin-bottom: 25px !important;
  }
  h2 {
    font-size: 25px;
    line-height: 35px;
  }
  h3 {
    font-size: 22px !important;
    line-height: 32px !important;
    margin-bottom: 10px !important;
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .font-lg {
    line-height: 20px !important;
    font-size: 14px !important;
  }
  .box-radius-bottom {
    padding: 10px 0 0 0 !important;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .mt-100 {
    margin-top: 20px;
  }
  .mb-20 {
    margin-bottom: 5px;
  }
  .btn .btn-tag {
    margin-top: 20px;
  }

  .pb-90 {
    padding-bottom: 15px !important;
  }
  .mt-50 {
    margin-top: 15px !important;
  }
  .p-plan h2 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }
  .p-plan {
    background-color: #cde2e7;
    padding: 15px 0;
  }
  .faqs-section {
    background: #fff;
  }
  .image-3 {
    width: 90px;
  }
  .image-2 {
    width: 70px;
  }
  .btn.qtl-btn {
    margin-top: 20px;
  }
  .box-subscribe .image-1 {
    width: 55px;
  }
  .mobile {
    margin-top: 45px;
  }
  .footer .width-20 {
    width: 100%;
  }
  .footer .width-19 {
    width: 100%;
  }

  .footer .width-23 {
    width: 100%;
  }
  .btn.btn-tag {
    margin-top: 15px;
  }
  .qtl-list li {
    width: 100%;
  }
  .sm-none {
    display: none;
  }
  .sm-block {
    display: block;
  }

  /* about page responsive css start */
  h2 {
    font-size: 25px;
    line-height: 35px;
    width: 100%;
  }
  .sm-none {
    display: none !important;
  }
  .about-banner {
    padding-top: 80px;
  }
  .width-90 {
    width: 100%;
    margin: 0 auto;
  }
  .stat-card {
    padding: 30px 20px;
  }
  .stat-card .stat-item {
    width: 50%;
  }
  /* value section responsive css start */
  .value-item-box {
    flex-wrap: wrap;
  }
  .box-vision .box-info {
    padding: 80px 0 10px 0;
  }
  .getintouch-box {
    padding: 20px;
  }
  .df-btn {
    padding: 13px 12px;
  }

  /* value section responsive css end */
  /* testimonial section responsive css start */
  .bg-testimonials::before {
    right: 0;
  }
  .bg-testimonials .ml-20 {
    margin-left: 0;
  }
  .bg-testimonials .ml-100 {
    margin-left: 0;
  }
  /* testimonial section responsive css end */
  /* subscribe section media css start */
  .box-subscribe.about-box-subscribe {
    background-image: none;
  }
  .box-subscribe.about-box-subscribe::before {
    right: 30px;
  }
  .box-subscribe.about-box-subscribe::after {
    bottom: 0;
    left: 0;
    height: 35px;
    width: 246px;
  }
  .about-box-subscribe p {
    width: 100%;
    margin: 0 auto;
  }
  .box-subscribe .form-subscribe {
    padding: 3px;
  }

  .about-form-subscribe {
    width: 100%;
  }
  /* career page responsive css start */
  /* career hero section responsive css start */
  .anim-img {
    width: 60px;
  }
  .career .anim-img {
    left: 0px;
  }
  .career-card .card-image {
    max-width: 75px !important;
  }
  .partners-list li {
    width: 50%;
  }
  .partners-list li img {
    max-height: 27px;
  }
  /* career hero section responsive css end */
  /* career page responsive css end */
  .box-ads-1 {
    background-size: auto 20%;
    background-position: top 100% right 10%;
  }
  /* shop page media css start */
  .shop-banner {
    background-image: none;
  }
  .shop-banner h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .shop-banner::before {
    width: 100%;
  }
  .box-filter-text {
    flex-wrap: wrap;
  }
  .text-showing {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0 !important;
  }
  .box-sortby {
    place-content: flex-end;
    width: 100%;
    margin-right: 0 !important;
  }
  .dropdown-sort .btn {
    padding: 7px 29px 7px 10px;
    background-position: right 7px center;
  }
  .btn {
    border-radius: 4px;
  }
  .box-sale {
    padding: 20px;
  }
  .box-sale .box-img-left {
    bottom: auto;
    top: 15%;
    transform: translateY(-5%);
  }
  .box-sale .box-img-left img {
    width: 100px;
  }
  .box-sale .box-img-right img {
    width: 100px;
  }
}
